# Dependency directories
node_modules/

# Optional npm cache directory
.npm/

# Environment variables file
.env

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*

# Logs
logs
*.log
npm-debug.log*

# Build output
/build/

# Environment-specific output
.DS_Store
Thumbs.db
